xml-resources/web-service-references/service/wsdl/service.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.fhnw.ch/wi/eai/bankjd/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.fhnw.ch/wi/eai/bankjd/" name="BankJDService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://www.fhnw.ch/wi/eai/bankjd/" schemaLocation="http://localhost:8080/?xsd=1"></xsd:import>
        </xsd:schema>
    </types>
    <message name="printSparkonto">
        <part name="parameters" element="tns:printSparkonto"></part>
    </message>
    <message name="printSparkontoResponse">
        <part name="parameters" element="tns:printSparkontoResponse"></part>
    </message>
    <message name="holeKontoKorrent">
        <part name="parameters" element="tns:holeKontoKorrent"></part>
    </message>
    <message name="holeKontoKorrentResponse">
        <part name="parameters" element="tns:holeKontoKorrentResponse"></part>
    </message>
    <message name="printKontokorrent">
        <part name="parameters" element="tns:printKontokorrent"></part>
    </message>
    <message name="printKontokorrentResponse">
        <part name="parameters" element="tns:printKontokorrentResponse"></part>
    </message>
    <message name="listeKontokorrentNachname">
        <part name="parameters" element="tns:listeKontokorrentNachname"></part>
    </message>
    <message name="listeKontokorrentNachnameResponse">
        <part name="parameters" element="tns:listeKontokorrentNachnameResponse"></part>
    </message>
    <message name="listeSparkontoNachname">
        <part name="parameters" element="tns:listeSparkontoNachname"></part>
    </message>
    <message name="listeSparkontoNachnameResponse">
        <part name="parameters" element="tns:listeSparkontoNachnameResponse"></part>
    </message>
    <message name="holeSparkonto">
        <part name="parameters" element="tns:holeSparkonto"></part>
    </message>
    <message name="holeSparkontoResponse">
        <part name="parameters" element="tns:holeSparkontoResponse"></part>
    </message>
    <portType name="BankJD">
        <operation name="printSparkonto">
            <input wsam:Action="http://www.fhnw.ch/wi/eai/bankjd/BankJD/printSparkontoRequest" message="tns:printSparkonto"></input>
            <output wsam:Action="http://www.fhnw.ch/wi/eai/bankjd/BankJD/printSparkontoResponse" message="tns:printSparkontoResponse"></output>
        </operation>
        <operation name="holeKontoKorrent">
            <input wsam:Action="http://www.fhnw.ch/wi/eai/bankjd/BankJD/holeKontoKorrentRequest" message="tns:holeKontoKorrent"></input>
            <output wsam:Action="http://www.fhnw.ch/wi/eai/bankjd/BankJD/holeKontoKorrentResponse" message="tns:holeKontoKorrentResponse"></output>
        </operation>
        <operation name="printKontokorrent">
            <input wsam:Action="http://www.fhnw.ch/wi/eai/bankjd/BankJD/printKontokorrentRequest" message="tns:printKontokorrent"></input>
            <output wsam:Action="http://www.fhnw.ch/wi/eai/bankjd/BankJD/printKontokorrentResponse" message="tns:printKontokorrentResponse"></output>
        </operation>
        <operation name="listeKontokorrentNachname">
            <input wsam:Action="http://www.fhnw.ch/wi/eai/bankjd/BankJD/listeKontokorrentNachnameRequest" message="tns:listeKontokorrentNachname"></input>
            <output wsam:Action="http://www.fhnw.ch/wi/eai/bankjd/BankJD/listeKontokorrentNachnameResponse" message="tns:listeKontokorrentNachnameResponse"></output>
        </operation>
        <operation name="listeSparkontoNachname">
            <input wsam:Action="http://www.fhnw.ch/wi/eai/bankjd/BankJD/listeSparkontoNachnameRequest" message="tns:listeSparkontoNachname"></input>
            <output wsam:Action="http://www.fhnw.ch/wi/eai/bankjd/BankJD/listeSparkontoNachnameResponse" message="tns:listeSparkontoNachnameResponse"></output>
        </operation>
        <operation name="holeSparkonto">
            <input wsam:Action="http://www.fhnw.ch/wi/eai/bankjd/BankJD/holeSparkontoRequest" message="tns:holeSparkonto"></input>
            <output wsam:Action="http://www.fhnw.ch/wi/eai/bankjd/BankJD/holeSparkontoResponse" message="tns:holeSparkontoResponse"></output>
        </operation>
    </portType>
    <binding name="BankJDPortBinding" type="tns:BankJD">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <operation name="printSparkonto">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="holeKontoKorrent">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="printKontokorrent">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="listeKontokorrentNachname">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="listeSparkontoNachname">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="holeSparkonto">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
    </binding>
    <service name="BankJDService">
        <port name="BankJDPort" binding="tns:BankJDPortBinding">
            <soap:address location="http://localhost:8080/"></soap:address>
        </port>
    </service>
</definitions>